@import "global/variables";
@import "global/mixins";

.advantages {
  background-color: $white;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__text-wrapper {
  padding: 37px 20px 30px 20px;

  @media (min-width: $tablet-width) {
    padding: 47px 36px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 210px 72px;
  }
}

.advantages__text {
  @include reset;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__wrapper-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/background/grey-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -42px center;
  padding-top: 83px;
  position: relative;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/grey-background-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url("../img/background/grey-background-tablet.png");
    background-size: cover;
    background-position: top 5px center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/grey-background-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 140px;
    background-image: url("../img/background/grey-background-desktop.png");
  }
}

.advantages__list {
  @include list-reset;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    grid-row: 1/-1;
    padding: 0 20px 10px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
  }
}

.advantages__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    text-align: start;
    align-items: flex-start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.advantages__list-item:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.advantages__list-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__list-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__list-text:nth-child(2) {
  @media (min-width: $desktop-width) {
    padding: 0 29px;
  }
}

.advantages__list-text--hiden {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.advantages__img {
  height: 286px;
  order: 3;
  position: relative;
  bottom: -9px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 20px;
    bottom: 194px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    order: -1;
    margin-bottom: 56px;
    overflow-y: clip;
    top: 12px;
    left: -5px;

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(90deg, $black 0%, $black 49.8%, $black 93.23%), url("../img/svg/shadow.svg");
      opacity: 0.3;
      filter: blur(4px);
      top: 276px;
      left: 50%;
      width: 270px;
      height: 7px;
      margin-left: -138px;
      border-radius: 100%;
    }
  }
}

.advantages__img--hidden {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.advantages__img-item {
  display: block;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 382px;
  }
}
