@import "global/variables";
@import "global/mixins";

.contacts-list {
  @include list-reset;
}

.contacts-list__item {
  text-align: center;

}


.contacts-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

}

.contacts-list__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: $lipstick;
}
