@import "global/variables";
@import "global/mixins";

.form-option__group {
  border: none;
}

.form-option__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $lipstick;
}

.form-option__info,
.form-option__text,
.form-option__window {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

