@import "global/variables";
@import "global/mixins";

.form {
  background-color: $white;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.form__wrapper-text {
  padding: 42px 15px 9px;

  @media (min-width: $tablet-width) {
    padding: 90px 85px 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 91px 218px 69px;
  }
}

.form__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.form__text--hiden {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 51px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 46px;
  }
}

.form__submit {
  padding: 23px 40px;
}

.form__text-required {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 9px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__text-required sup {
  color: $lipstick;
}

.form__text-required--hiden {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
}
