@import "global/variables";
@import "global/mixins";


.form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}


.form__background {
  background-color: $grey-back;
}

.form__text-required {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
