@import "global/variables";
@import "global/mixins";

.form-button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  min-width: 276px;
  padding: 20px 10px;

  &:hover {
    background-color: $green-darken;
    border-color: $green-darken;
  }

  &:active {
    background-color: $green-darken;
    border-color: $green-darken;
    color: $white-opc03;
  }

  &:disabled {
    background-color: $light-grey;
    border-color: $light-grey;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    min-width: 296px;
  }
}
