@import "global/variables";
@import "global/mixins";

.header {
  @include reset;
  background-color: $black-opc3;
  position: absolute;
  width: 100%;
  min-height: 66px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
  }
}

.header__logo-link {
  cursor: pointer;
  width: 74px;
  height: 23px;
  padding: 23px 20px 13px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
    padding: 25px 20px 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 43px;
  }
}

.header__logo {
  fill: $white;

  &:hover {
    fill: $lipstick;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo-desktop {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.header--nojs .nav__toggle {
  display: none;
}

.header--nojs .site-list {
  @media (max-width: $desktop-width-only) {
    display: block;
    position: static;
  }
}

.header--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
  border-radius: 1px;
}

.header--closed .nav__toggle:hover::before {
  background-color: $lipstick;
  box-shadow: 0 10px 0 0 $lipstick, 0 20px 0 0 $lipstick;
}

.header--closed .nav__toggle:active::before {
  background-color: darken($lipstick, 30%);
  box-shadow: 0 10px 0 0 darken($lipstick, 30%), 0 20px 0 0 darken($lipstick, 30%);
}

.header--open .nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 20px;
    width: 23px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $lipstick;
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: darken($lipstick, 30%);
  }
}

.header--closed .site-list {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.header--open .site-list {
  @media (max-width: $desktop-width-only) {
    display: block;
  }
}
