@import "global/variables";
@import "global/mixins";

.header {
  @include reset;
  background-color: $dark-blue;
}

.header__wrapper {
  background-image:
  url("img/back-mobile.png"),
  url("img/phone.jpg"),
  url("img/screen.png");
  background-repeat: no-repeat;
  background-size: auto, cover, cover;
  background-position: auto;
}

.header__logo {
  width: 74px;
  height: 23px;
}


.header__toggle {
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.header__title {
  @include reset;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  color: $white;
}
