@import "global/variables";
@import "global/mixins";

.header {
  @include reset;
  background-color: $black-opc3;
  position: absolute;
  width: 100%;
  min-height: 66px;
}

.header--closed .site-list {
  display: none;
}

.header--open .site-list {
  display: block;
}

// .header--nojs .site-list {
//   display: block;
//   position: static;
// }

.header__logo-link {
  cursor: pointer;
  width: 74px;
  height: 23px;
  padding: 23px 20px 13px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
    padding: 27px 43px 20px;
  }
}

.header__logo {
  fill: $white;

  &:hover {
    fill: $lipstick;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo-desktop {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
  }
}

.header__wraper-title {
  padding: 36px 46px 51px;

  @media (min-width: $tablet-width) {
    padding: 74px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 276px 104px;
  }
}
