@import "global/variables";
@import "global/mixins";

.modal__wrapper-check {
  padding: 44px 55px 40px;

  @media (min-width: $tablet-width) {
    padding: 49px 55px 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 215px 68px;
  }
}

.modal-check__container {
  @media (min-width: $desktop-width) {
    background-color: $grey-back;
    padding: 52px 240px;
  }
}
