@import "global/variables";
@import "global/mixins";

.modal-success {
  display: none;
  position: fixed;
  top: 130px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.modal__wrapper-success {
  padding: 44px 27px 41px;

  @media (min-width: $tablet-width) {
    padding: 49px 41px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 201px 44px;
  }
}

.modal-success__button {
  @media (min-width: $desktop-width) {
    min-width: 456px;
  }
}

.modal-success__container {
  background-color: $grey-back;
  padding: 52px 22px;

  @media (min-width: $tablet-width) {
    padding: 52px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 162px;
  }
}
