@import "global/variables";
@import "global/mixins";

.modal-check {
  display: none;
  position: fixed;
  top: 400px;
  right: 0;
  left: 0;
  bottom: auto;
  margin: 0 auto;
}

.modal-check__wrapper {
  padding: 36px 13px 41px;

  @media (min-width: $tablet-width) {
    padding: 37px 71px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 215px 61px;
  }
}

.modal-check__title {
  margin-bottom: 24px;
}

.modal-check__container {
  padding-bottom: 49px;

  @media (min-width: $desktop-width) {
    width: 100%;
    box-sizing: border-box;
    background-color: $grey-back;
    padding: 49px 240px;
  }
}
