@import "global/variables";
@import "global/mixins";

.modal-success {
  display: none;
  position: fixed;
  top: 400px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.modal-success__wrapper {
  padding: 40px 19px 32px;

  @media (min-width: $tablet-width) {
    padding: 69px 70px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 179px 14px;
  }
}

.modal-success__title {
  margin-bottom: 24px;
}

.modal-success__button {
  @media (min-width: $desktop-width) {
    min-width: 456px;
  }
}

.modal-success__container {
  width: 100%;
  box-sizing: border-box;
  background-color: $grey-back;
  padding: 52px 22px;

  @media (min-width: $tablet-width) {
    padding: 52px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 162px;
  }
}
