@import "global/variables";
@import "global/mixins";

.photo-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 54px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-list__item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photo-list__item-panorama {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
