@import "global/variables";
@import "global/mixins";

.photo-item {
  background-color: $grey-back;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo-item__photo {
  display: block;
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.photo-item__sticker {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 140px;
  height: 36px;
  background-color: $lipstick;
  color: $white;
}

.photo-item__container {
  padding: 25px 10px 26px 17px;

  @media (min-width: $tablet-width) {
    padding: 30px;
  }
}

.photo-item__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photo-item__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 3px;
}


.photo-item__text {
  margin: 0;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photo-item__text:nth-child(2) {
  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.photo-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.photo-item__icon {
  @media (min-width: $tablet-width) {
    order: 2;
  }
  cursor: pointer;
}

.photo-item__likes {
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: $lipstick;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo-item__counter {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: $lipstick;
}
