@import "global/variables";
@import "global/mixins";

.photo {
  background-color: $white;
}

.photo__wrapper-title {
  padding: 102px 74px 84px;

  @media (min-width: $tablet-width) {
    padding: 141px 151px 134px 151px;
  }

  @media (min-width: $desktop-width) {
    padding: 136px 272px 104px;
  }
}

.photo__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.photo__wrapper-text {
  padding: 54px 37px 60px;

  @media (min-width: $tablet-width) {
    padding: 100px 98px 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 314px 97px;
  }
}

.photo__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.photo__wrapper-panorama {
  position: relative;

  &::before {
    content: "панорама дня";
    position: absolute;
    text-transform: uppercase;
    color: $white;
    top: 7px;
    right: 38px;
    z-index: 10;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
  }

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 36px;
    background-color: $lipstick;
    top: 0;
    right: 20px;
  }
}

.photo__panorama {
  display: block;
  width: 100%;
}

.photo__wrapper-list {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}
