@import "global/variables";
@import "global/mixins";

.photo-item {
  margin-bottom: 20px;
}

.photo-item__photo {
  width: 100%;
}

.photo-item__sticker {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 140px;
  height: 36px;
  background-color: $lipstick;
  color: $white;
}

.photo-item__container {
  background-color: $grey-back;
  padding: 25px 10px 26px 17px;

  @media (min-width: $tablet-width) {
    padding: 30px 10px 31px 30px;
  }
}

.photo-item__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photo-item__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 3px;
}


.photo-item__text {
  margin: 0;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photo-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}

.photo-item__icon {
  cursor: pointer;
}

.photo-item__likes {
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: $lipstick;
  margin-left: 18px;

  // @media (min-width: $tablet-width) {
  //   order: -1;
  // }
}

.photo-item__counter {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: $lipstick;
}
