@import "global/variables";
@import "global/mixins";

.photo-section {
  background-color: $dark-blue;
  background-image: url("../img/background/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -15px center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/back-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/back-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-desktop@2x.png");
    }
  }
}
