@import "global/variables";
@import "global/mixins";

.post {
  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.post__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-back;
}

.post__text-wrapper {
  background-color: $white;
  padding: 24px 20px 40px 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 43px 119px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0px 40px 68px;
  }
}

.post__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  background-color: $white;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.post__container {
  width: 100%;
  padding: 20px 20px 38px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    padding: 54px 20px 52px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;
    padding: 57px 60px 57px 80px;
    column-gap: 90px;
  }
}

.post__wrapper-image {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    width: 300px;
    height: 400px;
  }
}


.post__wrapper-image__photo {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.post__filter-container {
  display: flex;
  flex-direction: column;
}

.post__filter-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 45px 48px 16px 36px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.post__filter-list__item {
  margin-bottom: 52px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: darken($grey-back, 10%);
    top: 111px;
    left: -220px;

    @media (min-width: $tablet-width) {
      width: 275px;
      top: 56px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 410px;
    }
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.post__filter-list__item-cropp::before,
.post__filter-list__item-fill::before {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.post__filter-list__item-contrast::before {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.post__container-range {
  cursor: pointer;
}

.post__container-range-cropp {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 202px;
      height: 2px;
      background-color: $dark-blue;
      top: 20px;
      left: 55px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: $white;
      border: 2px solid $lipstick;
      border-radius: 50%;
      top: 15px;
      left: 215px;
    }

    &:active::after {
      background-color: $lipstick;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 288px;
      top: 18px;
      left: 92px;
    }

    &::after {
      top: 11px;
      left: 325px;
    }
  }
}

.post__container-range-fill {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 202px;
      height: 2px;
      background-color: $dark-blue;
      top: 19px;
      left: 55px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: $white;
      border: 2px solid $lipstick;
      border-radius: 50%;
      top: 14px;
      left: 79px;
    }

    &:active::after {
      background-color: $lipstick;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 288px;
      top: 17px;
      left: 92px;
    }

    &::after {
      top: 10px;
      left: 127px;
    }
  }
}

.post__container-range-contrast {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 2px;
    background-color: $dark-blue;
    top: 75px;
    right: -28px;


    @media (min-width: $tablet-width) {
      width: 202px;
      top: 15px;
      left: 55px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: $white;
    border: 2px solid $lipstick;
    border-radius: 50%;
    top: 70px;
    right: 5px;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 151px;
    }
  }

  &:active::after {
    background-color: $lipstick;
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 288px;
      top: 14px;
      left: 92px;
    }

    &::after {
      top: 7px;
      left: 228px;
    }
  }
}

.post__range-svg {
  fill: $dark-blue;
  opacity: 0.3;

  &:hover {
    fill: $dark-blue;
    opacity: 0.5;
  }

  &:active {
    fill: $dark-blue;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    fill: $lipstick;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.post__range-svg--current {
  fill: $lipstick;
}

.post__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    align-items: flex-start;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 132px;
  }
}

.post__button {
  font-size: 18px;
  min-width: 280px;
  background-color: transparent;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    min-width: 260px;
  }

  @media (min-width: $desktop-width) {
    min-width: 183px;
  }
}

.post__button--enter {
  padding: 16px 20px;
  margin-bottom: 10px;
  color: $lipstick;
  border: 3px solid $lipstick;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    padding: 17px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 44px;
  }
}

.post__button--enter:hover {
  background-color: $lipstick;
  color: $white;
}

.post__button--enter:active {
  background-color: $lipstick;
  opacity: 0.3;
}

.post__button--cancel {
  padding: 16px 23px;
  color: $dark-blue;
  border: 3px solid $dark-blue;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    padding: 17px 21px;
  }
}

.post__button--cancel:hover {
  border: 3px solid $dark-blue;
  color: $dark-blue;
  opacity: 0.3;
}

.post__button--cancel:active {
  background-color: $dark-blue;
  opacity: 0.3;
  color: darken($white, 30%);
}
