@import "global/variables";
@import "global/mixins";

.prices {
  background-color: $grey-back;
}

.prices__wrapper {
  background-image: url("../img/grey_background.svg");
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 70px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 98px 130px;
  }
}

.prices__list {
  border-collapse: collapse;
  background-color: $white;
}

.prices__list-item {
  background-color: $dark-blue;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.prices__list-item--standart {
  border-right: 2px solid $grey-back;
  border-left: 2px solid $grey-back;
}

.prices__list-sticker {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.prices__list-value {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.prices__list-type {
  padding: 0;
  border: 2px solid $light-grey;
  width: 276px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
