@import "global/variables";
@import "global/mixins";

.site-list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $black;
  box-shadow: 1px 0 $black, inset 0 1px $white-opc;
  text-align: center;

  @media (min-width: $desktop-width) {
    border: none;
    box-shadow: none;
    padding-bottom: 20px;
  }
}

.site-list__item-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }

  &:hover {
    color: $lipstick;
  }

  &:active {
    color: darken($lipstick, 30%);
  }
}

.site-list__item--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
    padding-bottom: 19px;

    &:hover {
      border-color: $lipstick;
    }
  }

  &:active {
    border-color: $white;
    opacity: 0.3;
  }
}
