@import "global/variables";
@import "global/mixins";

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slider__button {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: $dark-blue;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  margin-right: 19px;

  &:hover {
    background-color: $dark-blue;
    opacity: 0.6;
  }

  &:active {
    background-color: $dark-blue;
    opacity: 0.1;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.slider__button:last-of-type {
  margin-right: 0;
}

.slider__button--current {
  background-color: $white;
  box-shadow: 0 0 0 3px $dark-blue;
  opacity: 1;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__button--left {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 222px;
      left: 126px;
      width: 30px;
      height: 2px;
      background-color: transparentize($dark-blue, 0.3);
      border-radius: 1px;
      transform: rotate(-45deg);
    }

    &::before:hover {
      background-color: transparentize($dark-blue, 0.6);
    }

    &::before:active {
      background-color: transparentize($dark-blue, 0.1);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 242px;
    left: 127px;
    width: 28px;
    height: 2px;
    background-color: transparentize($dark-blue, 0.3);
    border-radius: 1px;
    transform: rotate(45deg);
  }

  &::after:hover {
    background-color: transparentize($dark-blue, 0.6);
  }

  &::after:active {
    background-color: transparentize($dark-blue, 0.1);
  }
}

.slider__button--right {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 223px;
      right: 128px;
      width: 28px;
      height: 2px;
      background-color: transparentize($dark-blue, 0.3);
      border-radius: 1px;
      transform: rotate(45deg);
    }

    &::before:hover {
      background-color: transparentize($dark-blue, 0.6);
    }

    &::before:active {
      background-color: transparentize($dark-blue, 0.1);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 244px;
    right: 128px;
    width: 30px;
    height: 2px;
    background-color: transparentize($dark-blue, 0.3);
    border-radius: 1px;
    transform: rotate(-45deg);
  }

  &::after:hover {
    background-color: transparentize($dark-blue, 0.6);
  }

  &::after:active {
    background-color: transparentize($dark-blue, 0.1);
  }
}
