@import "global/variables";
@import "global/mixins";

.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 178px;
}

.social-list__link {
  display: flex;
  align-items: center;
  border: 3px solid $dark-blue-opc;
  border-radius: 50%;
  width: 49px;
  height: 49px;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    background-color: $white;
    opacity: 0.1;
  }
}
