@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("opensans"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("opensans") url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("opensanslight") url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("opensanslight") url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("opensansbold") url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("opensansbold") url("../fonts/opensansbold.woff2") format("woff2");
}
